<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      App News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
